# Data Manipulation
math 
datetime
csv 
numpy

# Visualization
geopandas

# Geopandas Dependencies
pandas
shapefile
matplotlib.pyplot
seaborn

# Internal dependencies (associated files). Download all files from https://github.com/kchprog/Provincial-COVID-simulation
math_module.py
map_module.py
main.py
config.py
City_data_config.csv
